.footer-twitter-item-row{
    display: grid;
    text-align: left;
    color: white;
    font-size: 24px;
}
.footer-twitter-item{
    display: grid;
    grid-template-rows: 2fr 5fr 5fr 5fr;
    grid-row-gap: 30px;
}
.footer-twitter-item-row-post{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    text-align: left;

}
.footer-twitter-item-row-envato{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
    background-image: url('../../assets/img/twitter\ copy.png');
    background-repeat: no-repeat;
    background-position: left;
    width:150px;
}