.content-news-sport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    height:100%;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    grid-column-gap: 20px;
    box-sizing: border-box;
}
.content-news-sport-header-title{
    display: flex;
    grid-column: 1 / 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-items: center;
}
.content-news-sport-header-link{
    grid-column: 3;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.content-news-sport-header-link a{
    font-size: 14px;
    text-decoration: none;
}
.content-news-sport-header{
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}
.content-news-sport-content{
    display: grid;
    grid-gap: 20px;
}