.header-kenaz{
    background-color:#252525;
    display:block;
    height: 50px;
}
.header-kenaz-wrapper{
    width: 940px;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}
.kenaz-logo{
    height: 50px;
    width: 60px;
    float: left;
    background: rgb(48,48,48) url('../../assets/img/nav_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.kenaz-text{
    font-size:24px;
    font-family:Arial;
    color:white;
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: center;
    float: left;
    padding-left: 20px;
}
.kenaz-search{
    height: 50px;
    width: 60px;
    float: right;
    background: rgb(48,48,48) url('../../assets/img/search.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.kenaz-navigation-items{
    height: 50px;
    float: right;
}
.kenaz-navigation-item{
    height: 100%;
    float: left;
    padding-right: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color: white;
}

.input {
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-top: 7px;
    animation-name: input-open;
    animation-duration: 1s;
    width: 200px;
    height:60%;
}
.input2 {
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-top: 7px;
    animation-name: input-close;
    animation-duration: 1s;
    width: 0px;
    height:60%;
}
@keyframes input-open {
    from {width: 0;}
    to {width: 200px;}
}
@keyframes input-close {
    from {width: 200px;}
    to {width: 0;}
}