.content-news-sport-content-image-post{
    display: grid;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
}
.content-news-sport-content-image-post > a{
    height: 100px;
    display:block;
}
.content-news-sport-content-image-post-text{
    text-align: left;
    margin-bottom: auto;
}
.content-news-sport-content-image-post-text-date{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
.content-news-sport-content-image-post-paragraph{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.content-news-sport-content-image-post-paragraph a{
   text-decoration: none;
   color: #000;
}
.content-news-sport-content-image-post-image img:hover{
    cursor: pointer;
}