.footer-kenaz-item-row{
    display: flex;
    text-align: left;
}
.footer-kenaz-item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    font-size: 30px;
}
.footer-kenaz-logo{
    width:40px;
    height: 50px;
    background-image: url('../../assets/img/footer_arrow.png');
    background-repeat: no-repeat;
    background-position:left;
}
.footer-kenaz-text{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #45B0E3;
    align-items: center;
}
.footer-kenaz-lorem{
    color: #666666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-kenaz-item-row-justify-content-between{
    display: flex;
    justify-content: space-between;
}
.footer-kenaz-image{
    height:35px;
    width:35px;
}
.wifi-image{
    background: url('../../assets/img/wifi.png');
    background-color: #F8BC2E;
    background-repeat: no-repeat;
    background-position: center;
}
.facebook-image{
    background: url('../../assets/img/Facebook.png');
    background-color: #39599F;
    background-repeat: no-repeat;
    background-position: center;
}
.twitter-image{
    background: url('../../assets/img/twitter.png');
    background-color: #45B0E3;
    background-repeat: no-repeat;
    background-position: center;
}
.dribbble-image{
    background: url('../../assets/img/dribbble.png');
    background-color: #D97AA5;
    background-repeat: no-repeat;
    background-position: center;
}
.linked-in-image{
    background: url('../../assets/img/in.png');
    background-color: #65B7D2;
    background-repeat: no-repeat;
    background-position: center;
}
.youtube-image{
    background: url('../../assets/img/YouTube\ 3.png');
    background-color: #E70031;
    background-repeat: no-repeat;
    background-position: center;
}
.skype-image{
    background: url('../../assets/img/Skype.png');
    background-color: #00C6FF;
    background-repeat: no-repeat;
    background-position: center;
}