.content-editorials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
    padding-bottom: 20px;
    grid-column-gap: 10px;
}
.content-editorial-header,.content-local-news-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.content-editorials-header-arrows{
    margin-left: auto;
    margin-right: 10px;
}
.content-editorials-header img{
    margin-left: 10px;
    margin-right: 10px;
}
.content-editorials-content{
    display: grid;
    grid-template-columns: 1fr;
}
.content-editorial, .content-local-news{
    background-color: #fff;
    border-left: 10px solid #A99765;
    margin-right: auto;
}
.content-editorial, .content-local-news {
    grid-template-rows: auto;
    grid-row-gap: 20px;
    display: grid;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-editorial-header-arrows{
    margin-left: auto;
    margin-right: 10px;
}
.content-editorial-header img{
    margin-left: 5px;
    margin-right: 5px;
}
.content-local-news-header-arrows{
    margin-left: auto;
    margin-right: 10px;
}
.content-local-news-header img{
    margin-left: 5px;
    margin-right: 5px;
}