.footer-content{
    width: 100%;
    background-color: #252525;
}
.footer-content-wrapper{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.footer-grid{
    display: grid;
    grid-template-rows: auto ;
    grid-row-gap: 30px;
}
.footer-row{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;

}