.footer-newsletter-item-row{
    display: flex;
}
.footer-newsletter-item{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
}
.footer-newsletter-title{
    font-size:24px;
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer-newsletter-lorem{
    color: #666666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.footer-newsletter-input{
    height:100%;
    background-color: rgb(51,51,51);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border:none;
    box-sizing: border-box;
}
.footer-newsletter-button{
    height:100%;
    background-color: #4D4382;
    width:100px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display:flex;
    align-items:center;
    justify-content:center;    
    padding-left:3px;                        
}
::placeholder {
    color: #999999;
    padding-left: 30px;
}