.content-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
}
.content-wrapper{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.content{
    height:100%;
}