.footer-tags-item-row-tag{
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    background-color: rgb(51,51,51);
    padding:3px;
    margin-right:3px;
}
.footer-tags-item-row-tag:hover{
    color:#fff;
    background-color: #4D4382;
    cursor: pointer;
}