.footer-recentnews-item{
    display: grid;
    grid-template-rows: 2fr 5fr 5fr 5fr;
    grid-row-gap: 30px;
    font-size: 24px;
}
.footer-recentnews-item-header{
    text-align:left;
    color:white;
}
.footer-recentnews-item-hr{
    width:99%;
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom-width: 0;
    border-color: #707070;
}