.header-topics{
    background-color: #4D4382;
    display:block;
    height: 50px;
}
.header-topics-wrapper{
    width: 940px;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}
.header-topics-topic{
    height: 100%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.border-1{
    border-bottom: 3px solid #299EC3;
    box-sizing: border-box;
}
.border-1:hover, .border-1:focus {
    cursor: pointer;
    background-color: #299EC3;
}
.border-2{
    border-bottom: 3px solid #EE6151;
    box-sizing: border-box;
}
.border-2:hover, .border-2:focus {
    cursor: pointer;
    background-color: #EE6151;
}
.border-3{
    border-bottom: 3px solid #84C14F;
    box-sizing: border-box;
}
.border-3:hover, .border-3:focus {
    cursor: pointer;
    background-color: #84C14F;
}
.border-4{
    border-bottom: 3px solid #5DCFF3;
    box-sizing: border-box;
}
.border-4:hover, .border-4:focus {
    cursor: pointer;
    background-color: #5DCFF3;
}
.border-5{
    border-bottom: 3px solid #FCC44D;
    box-sizing: border-box;
}
.border-5:hover, .border-5:focus {
    cursor: pointer;
    background-color: #FCC44D;
}
.border-6{
    border-bottom: 3px solid #A99765;
    box-sizing: border-box;
}
.border-6:hover, .border-6:focus {
    cursor: pointer;
    background-color: #A99765;
}
