.footer-imagepost{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
}
.footer-imagepost-text{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 5px;
}
.footer-imagepost-text-post{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align:left;
}
.footer-imagepost-text-about{
    display:flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer-imagepost-image{
    background: url('../../assets/img/Layer\ 63.png');
    border: 2px solid white;
    height: 70px;
    width: 70px;

}
.footer-imagepost-text-about-comment{
    background-image: url('../../assets/img/comment.png');
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: left;
}
.footer-imagepost-hr{
    width:100%;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 1px;
    background-color: rgb(49,49,49);
}
.footer-imagepost-hr2{
    margin-top: 15px;
    margin-bottom: 5px;
    height: 1px;
    visibility: hidden;
}
.footer-imagepost-text-about-commentdiv{
    display: flex; 
    align-items: center;
    margin-right: 10px;
}
.footer-imagepost-text-about-date{
    display: flex;
    align-items: center;
}