.content-business-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.content-business-content-image{
    display: flex;
    margin-right: auto;
}
.content-business-content-text{
    text-align: left;
}
.content-business-content-text-date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    text-align: left;
}
.content-business-content-text-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}
.content-business-content-text-paragraph > a{
    text-decoration:none;
    text-decoration: none;
    color: #000;
}