.content-news-carousel{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr;
    height:100%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-left: 10px solid #FCC44D;
}
.content-news-carousel-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.content-news-carousel-header-arrows{
    margin-left: auto;
}
.content-news-carousel-header-arrows:hover{
    cursor: pointer;
}
.content-news-carousel-header img{
    margin-left: 15px;
}
.content-news-carousel-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}