.content-business{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-gap: 20px;
    height:100%;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #fff;
    border-left: 10px solid #EE6151;
}
.content-business-header-title{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-items: center;
}
.content-business-header-link{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.content-business-header-link a{
    font-size: 14px;
    text-decoration: none;
}
.content-business-header{
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}