.footer-navigation-wrapper{
    margin-top: 20px;
    width: 940px;
    margin-left: auto;
    margin-right:auto;
    height:100%;
}
.footer-navigation-wrapper-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer-navigation-wrapper-content-cc,.footer-navigation-wrapper-content-navbar{
    display: flex;
}
.footer-navigation-wrapper-content-navbar{
    margin-left: auto;
}