.content-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height:100%;
    width: 940px;
}
.content-grid-row1{
    grid-row: 1;
}
.content-grid-row2{
    grid-row: 2;
}
.content-grid-row3{
    grid-row: 3;
    height: 120px;
}
.content-grid-row5{
    grid-row: 5;
}
.content-grid-row4{
    grid-row: 4;
}
.content-grid-row6{
    grid-row: 6;
}
.content-grid-row7{
    grid-row: 7;
}
.content-grid-right-col{
    grid-column: 2;
    grid-row: 1 / 4;
    background-color: #4D4382;
    display: grid;
    height: 99%;
}
.content-grid-right-col-nav{
    background-color: rgb(62,54,104);
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.content-grid-right-col-nav-item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    display:inline-block;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.content-grid-right-col-video-div{
    background-color: #fff;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-grid-right-col-nav-item-active{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color:#FCC44D;
    
}
.content-grid-right-col-image-post{
   padding: 20px;
}
.content-grid-right-col-video-div-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.pl20{
    padding-left:20px;
}
.content-grid-right-col-placeholder-div{
    grid-column: 2;
    grid-row: 5/8;
    background-color: #fff;
    height: 97.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #D7D7D7;
}