.footer-twitter-post-item-row-post{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ccc;
    text-align: left;

}
.footer-twitter-post-item-row-envato{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
    background-image: url('../../assets/img/twitter\ copy.png');
    background-repeat: no-repeat;
    background-position: left;
    width:150px;
    align-items: center;
    padding-left: 30px;
}
.footer-twitter-post-item-row{
    display: grid;
    grid-template-rows: 1fr, 2fr;
    grid-row-gap: 0px;
}