.footer-tags-item-row{
    display: flex;
    max-width:300px;
    flex-wrap: wrap;
}
.footer-tags-item{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 10px;
    font-size: 30px;
}
.footer-tags-item-row-title{
    font-size:24px;
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}