.slider-div{
    height: 425px;
    width: 940px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.slider-div-arrows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 425px;
    width: 940px;
    align-items: center;
    justify-content: space-between;

}
.slider-div-arrows-left{
    display: flex;
    background: url('../../assets/img/Shape\ 1\ copy\ 2.png');
    height: 50px;
    width: 32px;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}
.slider-div-arrows-right{
    display: flex;
    background: url('../../assets/img/Shape\ 1\ copy.png');
    height: 50px;
    width: 32px;
    margin-left: auto;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}