.content-news-carousel-content-image-post{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}
.content-news-carousel-content-image-post-image{
    margin-right: auto;
}
.content-news-carousel-content-image-post-text{
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}
.content-news-carousel-content-image-post-text-date, .content-news-sport-content-image-post-text-comment{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}